includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 5
  checkGenericClassInNonGenericObjectType: false
  reportMaybesInPropertyPhpDocTypes: false
  paths:
    - amnesty-salesforce-connector.php
    - includes
  scanDirectories:
    - vendor/amnestywebsite/humanity-theme/wp-content/themes/humanity-theme
    - vendor/cmb2/cmb2
